@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)(implicit request: RequestHeader)
@main(message) {
    <div id="tweets"></div>
    <script type="application/javascript">
        function appendTweet(text) {
            const tweet = document.createElement("p");
            const message = document.createTextNode(text);
            tweet.appendChild(message);
            document.getElementById("tweets").appendChild(tweet);
        }

        function connect(attempt) {
            let connectionAttempt = attempt;
            const url = "@routes.WsHomeController.streamingTweets().webSocketURL()";
            const tweetSocket = new WebSocket(url);

            // print the message onto the screen when receiving a tweet
            tweetSocket.onmessage = event => {
                console.log(event);
                const data = JSON.parse(event.data);
                appendTweet(data.text);
            };

            tweetSocket.onopen = () => {
                connectionAttempt = 1;
                tweetSocket.send("subscribe");
            };

            tweetSocket.onclose = () => {
                if (connectionAttempt <= 3) {
                    appendTweet("Warning: Lost connection to the server");
                    appendTweet("Attempting to reconnect, Attempt: " + connectionAttempt);
                    const FiveSeconds = 5000;
                    setTimeout(() => connect(connectionAttempt + 1), FiveSeconds);
                } else {
                    alert("The connection to the server was lost, please try again later");
                }
            }
        }
        connect(1);
    </script>
}
